.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: lightgreen;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0% 2%;
}

.App-header p{
  font-size:  2vh;
}


.App-link {
  color: #61dafb;
}

body{
  background-color: lightgray;
}

.App-body h5{
  margin:0;
  padding: 3vh 5vh;
  font-size: large;
  text-align: center;
}

.App-table-td{
  height: 8vh;
  width: 50vh;
  border: solid 1px black;
  background-color: white;
  text-align: left;
}

.App-table{
  margin: auto;
  padding-bottom: 5%;
}

