.threadTitle {
  text-align: start;
  margin: 0;
  padding-left: 35vw;
  padding-right: 5vw;
  padding-top: 10vh;
  padding-bottom: 8vh;
  font-size: large;
}

.inputTitle{
  padding-left: 35vw;
  padding-right: 15vw;
}

.inputTitleForm{
  height: 5vh;
  width: 30vw;
}

.flexBox{
  display: flex; 
  align-items: center;
  justify-content: space-around;
  padding-left: 35vw;
  padding-right: 35vw;
  padding-top: 5vh;
  padding-bottom: 8vh;
}

.SubmitButton{
  border-radius: 10%;
  background-color:lightgreen ;
  height: 5vh;
  width: 7vw;
  border-color: lightgray;
}

